<%- include ('./partials/header.ejs') %>
    <main>
        <section class="erreur">
            <article class="erreur_article">
                <h1 class="erreur_h1">Tu ne trouves pas ce que tu cherches?</h1>
                <p class="erreur_p">C'est sûrement que tu n'as pas encore pris un bon café ! Viens donc voir notre catalogue !</p>
                <a class="erreur_a" href="/catalogue">Catalogue</a>
            </article>
            <img src="img/Coffee yawn.png">
        </section>
    </main>
<%- include ('./partials/footer.ejs') %>