<%- include ('./partials/header.ejs') %>
    <main>
        <div class="produit_header">
            <img class="produit_header_img" src="img/coffees/100955890.png">
        </div>
        
        <article class="produit_article">
            <p class="produit_article_date">Publié le 19/11/2024</time></p>
            <h1 class="produit_article_h1">Expresso</h1>
            <span class="produit_article_caractere">Corsé</span>
            <span class="produit_article_origine">Italie</span>
            <span class="produit_article_prix">20.99 €</span>
            <p class="produit_article_p">Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu.</p>
            <a class="produit_article_a" href="/catalogue">Catalogue</a>
        </article>
    </main>
<%- include ('./partials/footer.ejs') %>