body{
    --bg-primary: #f7dbb9;
    --bg-secondary: #3e1f04;
    --color-compl-1: #735949;
    --color-compl-2: #A6978F;
    --color-compl-3: #F2F2F2;
    font-family: Roboto, sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* HEADER */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-compl-1);
    position : relative;
}

.logo{
    padding: 1rem;
    height:80px;
    width: 80px;
}

.menu_ul{
    display:flex;
    justify-content: space-between;
    padding:0 1rem;
    gap:30px;
}

.menu_li{
    list-style: none;
}

.menu_a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bg-primary);
    text-decoration: none;
}

.menu_burger{
    display: none;
}

.menu_open_img{
    width: 30px;
    height: 30px;
    margin: 0.5rem;
    float: right;
}

/* ACCUEIL */

/* About */

.about{
    display:flex;
    justify-content: center;
    gap : 50px;
    padding:1rem;
}

.about_article{
    padding: 1rem;
    margin: auto;
}

.about_article_h1{
    color: var(--bg-secondary);
    font-size: 2rem;
}
.about_article_p{
    padding: 1rem 0;
    text-align : justify;
}

.about_article_a{
    color: var(--bg-primary);
    font-weight:bold;
    background-color: var(--bg-secondary);
    border: none;
    border-radius:10px;
    padding: 0.5rem 0.8rem;
    text-decoration : none;
}

.about_image{
    height:300px;
}

/* Nouveautés */

.news{
    background-color: var(--color-compl-3);
    padding: 0 3rem;
}
.news_h2{
    text-align: center;
    color: var(--bg-secondary);
    font-size: 1.5rem;
    padding: 1rem;
}

.news_wrapper{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    position : relative;
}

.news_card{
    text-align: center;
    width : 300px;
    height: 400px;
    position : relative;
    border : 1px solid var(--bg-secondary);
    border-radius: 10px;
}

.news_card_img{
    width : 300px;
    height : 150px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.news_card_h3{
    padding-top : 1rem;
    color: var(--bg-secondary);
}

.news_card_p{
    padding : 1rem 1rem;
}

.news_card_a{
    color: var(--bg-primary);
    font-weight:bold;
    background-color: var(--bg-secondary);
    border: none;
    border-radius:10px;
    padding: 0 0.8rem;
    position : absolute;
    bottom: 30px; 
    left: 100px;
    text-decoration: none;
}

/* CATALOGUE */

/* Header */

.catalogue_header{
    position: relative;
    margin : 20px auto;
    width: 800px;
    height : 300px;
    background: url("img/coffees/100955890.png") center;
}

.catalogue_header_h1{
    position: absolute;
    text-align: center;
    padding: 120px 0;
    background-color: rgb(62, 31, 4, 0.50);
    width: 100%;
    height : 100%;
    color: var(--bg-primary);
    font-size: 2rem;
}

/* Content */

.catalogue_content{
    padding: 3rem 3rem;
}

.catalogue_content_form{
    position : absolute;
    top: -2rem;
    right: 0;
}

.catalogue_button{
    color: var(--bg-primary);
    font-weight:bold;
    background-color: var(--bg-secondary);
    border: none;
    border-radius:10px;
    padding: 0 0.8rem;
    position : absolute;
    bottom: -2rem;
    right : 45%;
}

/* PRODUIT */

.produit_header{
    margin : 20px;
}

.produit_header_img{
    display:block;
    margin : auto;
    width: 1500px;
    height : 300px;
    object-fit : cover;
    object-position: center;
}

.produit_article{
    margin : 20px;
    padding : 20px;
    border : 3px dashed var(--bg-secondary);
    width : 800px;
}

.produit_article_date{
    float : right;
    font-style : italic;
}

.produit_article_h1{
    color : var(--bg-secondary);
    padding-bottom: 20px; 
}

.produit_article span{
    padding : 5px 10px;
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.produit_article_p{
    padding: 20px 0; 
}

.produit_article_a{
    color: var(--bg-primary);
    font-weight:bold;
    background-color: var(--bg-secondary);
    border: none;
    border-radius:10px;
    padding: 0.5rem 0.8rem;
    text-decoration : none;
}

/* ABOUT */

.infos_article{
    padding: 1rem;
    margin: auto;
}

.infos_article_h1{
    color: var(--bg-secondary);
    font-size: 2rem;
}
.infos_article_p{
    padding : 1rem 0;
    text-align : justify;
}

.infos_image{
    height:300px;
}

/* ERREUR */

.erreur{
    display: flex;
    justify-content: center;
    gap : 50px;
    padding:1rem;
}

.erreur_article{
    padding: 1rem;
    margin: auto;
}

.erreur_h1{
    color: var(--bg-secondary);
    font-size: 2rem;
}

.erreur_p{
    padding: 1rem 0;
    text-align : justify;
}

.erreur_a{
    color: var(--bg-primary);
    font-weight:bold;
    background-color: var(--bg-secondary);
    border: none;
    border-radius:10px;
    padding: 0.5rem 0.8rem;
    text-decoration : none;
}

.erreur_image{
    height:300px;
} 

/* FOOTER */

footer{
    padding: 20px;
    background-color: var(--color-compl-1);
}

footer p{
    text-align: center;
    color: var(--bg-primary);
}

@media screen and (max-width:500px){
    .menu_burger{
        display:contents;
    }
    .menu_ul{
        display:none;
    }
    .active{
        background-color: var(--bg-primary);
        display:block;
        height: 120px;
        padding : 10px;
    }
    .menu_a{
        color: var(--bg-secondary);
        float:right;
        font-size: 1rem;
    }
    .about{
        flex-wrap: wrap;
    }
    .news_wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .catalogue_header{
        width: 300px;
        height: 112px;
    }
    .catalogue_header_h1{
        padding: 30px 0;
    }
    .catalogue_button{
        right: 40%;
    }
}