body{
    --bg-primary: #f7dbb9;
    --bg-secondary: #3e1f04;
    --color-compl-1: #735949;
    --color-compl-2: #A6978F;
    --color-compl-3: #F2F2F2;
    font-family: Roboto, sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1{
    color: var(--bg-secondary);
    font-size: 2 rem;
}

h1{
    color: var(--bg-secondary);
    font-size: 1.5 rem;
}

h1{
    color: var(--bg-secondary);
    font-size: 1 rem;
}
p{
    text-align : justify;
    padding: 1rem 0;
}
.btn{
    color: var(--bg-primary);
    font-weight:bold;
    background-color: var(--bg-secondary);
    border: none;
    border-radius:10px;
    padding: 0.5rem 0.8rem;
    text-decoration : none;
    cursor: pointer;
}

.little-btn{
    padding : 0rem 0.8rem;
}

/* HEADER */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-compl-1);
    position: relative;
    padding: 20px; 
}

.logo{
    height:80px;
    width: 80px;
}

.menu_ul{
    display:flex;
    justify-content: space-between;
    padding:0 1rem;
    gap:30px;
}

.menu_li{
    list-style: none;
}

.menu_a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bg-primary);
    text-decoration: none;
}

.menu_burger{
    background: transparent;
    border: 0;
    color: var(--bg-primary);
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

/* ACCUEIL */

/* About */

.about{
    display:flex;
    justify-content: center;
    gap : 50px;
    padding:1rem;
}

.about_article{
    padding: 1rem;
    margin: auto;
}

.about_image{
    height:300px;
}

/* Nouveautés */

.news{
    background-color: var(--color-compl-3);
    padding: 0 3rem;
}
.news_h2{
    text-align: center;
    padding: 1rem;
}

.news_wrapper{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    position : relative;
}

.news_card{
    text-align: center;
    width : 300px;
    height: 400px;
    position : relative;
    border : 1px solid var(--bg-secondary);
    border-radius: 10px;
}

/*.news_card:nth-of-type(n+4){
    display: none;
}*/

.hidden{
    display: none;
}

.news_card_img{
    width : 300px;
    height : 150px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.news_card_h3{
    padding-top : 1rem;
}

.news_card_p{
    padding : 1rem 1rem;
}

.news_card_a{
    position : absolute;
    bottom: 30px; 
    left: 100px;
}

/* CATALOGUE */

/* Header */

.catalogue_header{
    position: relative;
    margin : 20px auto;
    width: 800px;
    height : 300px;
    background: url("../img/coffees/100955890.png") center;
}

.catalogue_header_h1{
    position: relative;
    text-align: center;
    padding: 120px 0;
    width: 100%;
    height : 100%;
    color: var(--bg-primary);
    z-index : 1;
}

/* Content */

.catalogue_content{
    padding: 3rem 3rem;
}

.catalogue_content_form{
    position : absolute;
    top: -2rem;
    right: 0;
}

.catalogue_button{
    position : absolute;
    bottom: -2rem;
    right : 45%;
}

/* PRODUIT */

.produit_header{
    margin : 20px;
}

.produit_header_img{
    display:block;
    margin : auto;
    width: 1500px;
    height : 300px;
    object-fit : cover;
    object-position: center;
}

.produit_article{
    margin : 20px;
    padding : 20px;
    border : 3px dashed var(--bg-secondary);
    width : 800px;
}

.produit_article_date{
    float : right;
    font-style : italic;
}

.produit_article_h1{
    padding-bottom: 20px; 
}

.produit_article span{
    padding : 5px 10px;
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* ABOUT */

.infos_article{
    padding: 1rem;
    margin: auto;
}

.infos_image{
    height:300px;
}

/* ERREUR */

.erreur{
    display: flex;
    justify-content: center;
    gap : 50px;
    padding:1rem;
}

.erreur_article{
    padding: 1rem;
    margin: auto;
}

/* FOOTER */

footer{
    padding: 20px;
    background-color: var(--color-compl-1);
}

footer p{
    text-align: center;
    color: var(--bg-primary);
}

@media screen and (max-width:500px){
    .logo{
        height:50px;
        width: 50px;
    }
    .menu_nav{
        position: absolute;
        width : 150px;
        top: 100%;
        right: 0;
        padding: 10px;
        background: var(--bg-secondary);
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
        z-index : 2;
    }
    .menu_ul{
        display: block;
    }
    .menu_a{
        float:right;
      }
    .menu_burger{
        display:block;
    }
    .active {
        transform: translateX(-20px);
        opacity: 1;
        pointer-events: all;
      }

    .about{
        flex-wrap: wrap;
    }
    .news_wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

    .catalogue_header{
        width: 300px;
        height: 112px;
    }
    .catalogue_header_h1{
        padding: 30px 0;
    }
    .catalogue_button{
        right: 40%;
    }
}